*.elc
*#*
*~*

# Folders & files

session*
tramp

auto-save-list/
eshell/
elpa/
lisp/config/ac-cmphist.dat
tmp/*

# Markdown-mode
index.text
index.html
.python-environments/
config/ac-dict/ac-cmphist.dat
init.el.before_ecb_2.40
projectile-bookmarks.eld
ede-projects.el
projectile.cache
semanticdb/
/url/
lisp/secrets.el
.mc-lists.el
ac-comphist.dat
*flycheck_*
/bookmarks
/saveplace
/.ido.last
/.recentf
/.saveplace
/.smex-items
/erc-log/
/irony/
/lisp/config/.ycm_global_conf.py
