*.elc
*#*
*~*

# Folders & files

session*
tramp

auto-save-list/
eshell/
elpa/
lisp/config/ac-cmphist.dat
tmp/*

# Markdown-mode
index.text
index.html
.python-environments/
config/ac-dict/ac-cmphist.dat
init.el.before_ecb_2.40
projectile-bookmarks.eld
ede-projects.el
projectile.cache
semanticdb/
/url/
lisp/secrets.el
